:deep(.tiny-card.tiny-card.tiny-card) {
  width: 100%;
  background-color: var(--content-bg);
  border-radius: 24px;
  .tiny-card--logo__main {
    color: var(--text-color);
  }
  .tiny-card--logo {
    max-width: 100%;
  }
}
:deep(.tiny-row.tiny-row) {
  line-height: 2;
}

/* 重写tiny-vue的覆盖样式 */
:deep(ol[data-tag='ol']) {
  list-style: revert;
  margin: revert;
  padding: revert;
}

:deep(ul[data-tag='ul']) {
  list-style: revert;
  margin: revert;
  padding: revert;
}

:deep(li[data-tag='li']) {
  margin: revert;
  padding: revert;
}

:deep(*),
:deep(*::before),
:deep(*::after) {
  box-sizing: border-box;
}

:deep(h1[data-tag='h1'],h2[data-tag='h2'],h3[data-tag='h3'],h4[data-tag='h4'],h5[data-tag='h5'],h6[data-tag='h6'],p[data-tag='p']) {
  font-size: revert;
  font-weight: revert;
  color: revert;
  margin: revert;
  padding: revert;
}
