.schema-render-container {
  position: relative;
  color: var(--tv-color-text, #191919);
}

.schema-render-container:has(.loading-wrap):after {
  display: none;
}

.schema-render-container .loading-wrap.loading-wrap {
  display: none;
}

.schema-render-container .loading-wrap .loading {
  display: none;
}
