.schema-render-container {
  --ti-genui-renderer-text-color: #191919;
  position: relative;
  color: var(--ti-genui-renderer-text-color);
}

.schema-render-container.dark {
  --ti-genui-renderer-text-color: #f5f5f5;
}

.schema-render-container:has(.loading-wrap):after {
  display: none;
}

.schema-render-container .loading-wrap.loading-wrap {
  display: none;
}

.schema-render-container .loading-wrap .loading {
  display: none;
}
